<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="!locked">
    <p>Connected: {{ connection }}</p>

    <ul>
        <li *ngFor="let request of requests">
            <p>{{ request }}</p>
            <button (click)="DataRequestAction($event, request, true)">Accept</button>
            <button (click)="DataRequestAction($event, request, false)">Decline</button>
        </li>
    </ul>
</div>
<div *ngIf="locked">
    <button (click)="UnlockWallet($event, 'abc123')">Unlock</button>
</div>


<router-outlet></router-outlet>
